.mainPageWrapper {
  background: #F5F5F5;
  
  .contentWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 300px 120px;

    .loadMoreButton {
      background: transparent;
      color: #333;
      border: 3px solid #333;
      border-radius: 25px;
      height: 50px;
      width: fit-content;
      padding: 0px 25px;
      font-size: 1.8rem;
      font-weight: bold;
      cursor: pointer;
      transition: 300ms all;
      margin: 120px 0px 80px;
      align-self: center;

      &:hover {
        background: #333;
        color: #fff;
      }
    }

    .form {
      display: flex;
      flex-direction: row;
      margin: 125px 0px;
      align-items: center;
      width: 100%;
      justify-content: center;

      .searchInput {
        background: #fff;
        border: 3px solid #333;
        border-radius: 25px 0px 0px 25px;
        border-right: 0;
        height: 60px;
        width: 76%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 25px;
        font-size: 1.8rem;
        outline: 0;

        &::placeholder {
          color: #666;
        }
      }

      .searchButton {
        background: #fff;
        color: #333;
        font-weight: bold;
        height: 60px;
        width: 150px;
        border-radius: 0px 25px 25px 0px;
        border: 3px solid #333;
        border-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms all;
        font-size: 1.8rem;

        svg {
          margin-right: 10px;
        }

        &:hover {
          background: #333;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .highlightedPost {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin: 50px 0px;
      text-decoration: none;
      transition: 300ms all;
      border-radius: 25px;

      .highlightedPostGradient {
        background: linear-gradient(100deg, #9D50BB, #6E48AA);
        width: 480px;
        height: 360px;
        border-radius: 25px;
        margin-right: 80px;
      }      

      .highlightedPostContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        h3 {
          font-size: 4.2rem;
          color: #333;
          max-width: 600px;
          word-break: break-word;
        }

        p {
          max-width: 600px;
          font-size: 2.8rem;
          color: #666;
          word-break: break-word;
        }

        span {
          max-width: 600px;
          font-size: 2.0rem;
          color: #999;
        }

        // .highlightedPostFooter {

        // }
      }
    }

    .recentPostsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 80px;

      .post {
        text-decoration: none;

        .postContent {
          padding: 0px 10px;

          .postFooter {
            margin-bottom: 08px;
          }
  
          h3 {
            font-size: 3.4rem;
            color: #333;
            max-width: 320px;
            margin-bottom: 08px;
            word-break: break-word;
          }
  
          p {
            max-width: 320px;
            font-size: 2.0rem;
            color: #666;
            word-break: break-word;
          }
        }

        .postGradient {
          width: 320px;
          height: 240px;
          border-radius: 25px;
          margin-bottom: 08px;
          background: linear-gradient(100deg, #E6DADA, #274046);
        }

        &:last-child {
          .postGradient {
            background: linear-gradient(90deg, #4b6cb7, #182848);
          }
        }

        &:first-child {
          .postGradient {
            background: linear-gradient(45deg, #FBD3E9, #BB377D);
          }
        }

        
      }
    }

  }

}