.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
  box-shadow: 5px 0px 10px #ccc;

  .signInWithGithubButton {
    background: transparent;
    border: 3px solid #333;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 40px;
    cursor: pointer;
    transition: 300ms all;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 25px;

    svg {
      margin-right: 15px;
    }

    &:hover {
      border: 3px solid #333;
      background: #333;
      color: #fff;
    }
  } 

}